@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Serif&display=swap');
* {

    margin: 0;
    padding: 0;
    border: none;
}

body {

    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    color: black  
}
/* heading */
h1, h2 {
    font-family: PT+serif, Arial;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: black;
}
#logo {

    float: left;
    color: black;
    font-size: 250%;
    font-weight: bold;
    margin-left: 30px;
}
/* navigation links setup */
#menu li {
    font-size: 100%;
    letter-spacing: 3px;
    float: right;
    list-style: none;
    margin-right: 20px;
}
#menu a {

    text-decoration: none;
    color: black;
    font-weight: bold;
}
#menu, #logo {
    line-height: 80px;
}
#menu a:hover {
    border-bottom: 1px solid rgb(8, 8, 8);
}
.active {
    border-bottom: 1px solid rgb(8, 8, 8);
}
/* image */

#gym-image {
    height:700px;
    width: 100%;
    background: url(../images/gym-image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* animation for zoom image */ 
    animation-name: gym-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    

}
#gym-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
/* create a zoom out for gym image */
@keyframes gym-zoom {

    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
#cover-text, #cover-text h2{

    color: #fff;
}
#cover-text {
    font-size: 85%;
    font-family: Lato, Arial, sans-serif;
    text-transform: capitalize;
    width: 200px;
    height: 200px;
    padding-top: 40px;
    padding-left: 40px;
    background-color: rgb(139, 78, 78);
    border-width: 1px;
    border-radius: 50%;
    text-align: left;

    bottom: 40px;
    right: 150px;
    position:absolute;

}
/* membership package */
#membership {
    height: 300px;
    display: flex;
    margin-left: 8%;
}
h2 {
    color: #fff;
}
#membership-text {
    font-size: 95%;
    font-family: Lato, Arial, sans-serif;
    color:#fff;
    text-transform: capitalize;
    width: 310px;
    height: 200px;
    padding-top: 50px;
    padding-left: 35px;
    background-color: #f03c15;
    border-width: 1px;
    border-radius: 50%;
    text-align: left
    
}
#package-two {
    font-size: 105%;
    font-family: Lato, Arial, sans-serif;
    color: #fff;
    text-transform: capitalize;
    width: 310px;
    height: 200px;
    padding-top: 50px;
    padding-left: 35px;
    background-color: rgb(28, 25, 25);
    border-width: 1px;
    border-radius: 50%;
    text-align: left;
}
#package-three {
    font-size: 105%;
    font-family: Lato, Arial, sans-serif;
    color: #fff;
    text-transform: capitalize;
    width: 310px;
    height: 200px;
    padding-top: 50px;
    padding-left: 35px;
    background-color: #f03c15;
    border-width: 1px;
    border-radius: 50%;
    text-align: left;
}

/* Find us address and map image */
img {
    height: 400px;
    width: 90%;
    margin-left: 75px;
}
#address-text {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-left: 75px;
    text-decoration: underline;
}
span {
    color: red;
}

/* footer & social media links */
footer {
    height: 30px;
    display: inline;
    width: 100%;
}
.footer-social {
    font-size: 50px;
    text-align: center;
    padding: 5px;
    margin: 1%;
    
}
.footer-social li {
    display: inline;
    
}

.footer-contacts {
    text-align: center;
    padding: 5px;
    margin: 1%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;


}
.footer-contacts li {
    display: inline;

}
.footer-contacts a {
    color: black;
}
#copyright {
text-align: center;
}

/* Why Join us page */

#Gym2 {
    height: 300px;
    width: 90%;
    background: url('../images/Gym2.jpg') no-repeat center center;
    padding: 50px 30px;
    margin-left: 30px ;   
}
#why {
    text-align: center;
    font-size: 40px;
    text-decoration:underline ;
}
#joining {
    margin-left: 35%;
    font-weight: bold;
}

/* media queries*/

/* large media to medium screen size from 1000px wide and down */
@media screen and (max-width: 800px) {
    #membership {
        width: 90%;
        height: 300px;
        float: left;
        text-align: center;
        font-size: 70%;   
    }
    

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    img {
        padding: 0;
        width: 80%;
    }
    #address-text {
        padding: 0;
        text-align: left;
        clear: both;
    }


    #why {
        text-align: center;
    }

#joining {
    display: inline;
    text-align: center;
}
#Gym2 {
    padding: 0;
}

}
/* Small Media screen size from 550px wide and down */
@media screen and (max-width: 550px)  {

.footer-contacts {
    text-align: center;
    font-size: 15px;
}
#membership {
        width: 90%;
        height: 300px;
        float: left;
        text-align: center;
        font-size: 70%;
}

}
/* Sign up Now Form */
#sign-up-h2 {
    color: #fff;
}


.signup-form {
    color: #fff;
    background-color:rgb(28, 25, 25);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 50px;
    margin: 150px 10% 0 0;
    
    }

    

.text-input {
    background: transparent;
    color:#fff;
    width: 100%;
    height: 25px;
    margin: 10px 0 10px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    font-weight: bold;
}

.text-input:hover {
    
    border-color: #f16c6b;
    
}
.join-button {
    
    margin-top: 25px;
    border-radius: 2px;
    padding: 32px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f31313;
    color: #fff;
    display: block;
    
}
    
.join-button:hover{
    background-color: #fff;
    color: #f31313;
}

/* Form page image */
#signup-image {
    height: 100%;
    width: auto;
}

    
    





